<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/create_topics}" th:object="${topic}" method="Post">
    <table>
        <tr>
            <td>topics name:</td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>

        <tr>
            <td>topic description:</td>
            <td><label>
                <input type="text" th:field="*{topicDescription}"/>
            </label></td>
        </tr>

        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>

        <!-- todo select\upload icon -->
        <!-- todo implement tags -->
    </table>
</form>
</body>
</html>

