<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<img src="https://www.codejava.net/images/articles/frameworks/spring/form-handling/Spring%20MVC%20Form%20Registration%20Demo.png"
     alt="Cheetah!"/>

<div th:text="${exceptionMessage}"></div>


<!-- Collapse buttons -->
<div>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
       aria-controls="multiCollapseExample1">Toggle first element</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
            aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
            aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements
    </button>
</div>
<!--/ Collapse buttons -->

<!-- Collapsible content -->
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body" th:text="${exceptionMessage}">

            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">

                <tr data-th-each="stack: ${stack}">

                    <td th:text="${stack.toString()}"></td>
            </div>
        </div>
    </div>
</div>
<!--/ Collapsible content -->
</body>
</html>