<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Messages</title>
    <meta charset="UTF-8"/>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


<body>
<header th:insert="header.html :: header"> </header>

<h5>send message section</h5>
<!-- MESSAGE SEND -->
<form th:action="@{messages/sendMessage}" th:object="${message}" method="Post">
    <table>
        <tr>
            <td>Text:</td>
            <td><label>
                <input type="text" th:field="*{text}"/>
            </label></td>
        </tr>

        <input type="hidden" th:field="*{topicId}"/>

        <td>
            <button type="submit">Submit</button>
        </td>

    </table>
</form>

<div class="container">
    <h2>Messages</h2>

    <form data-th-action="@{/topics/} + ${topicsId}" method="get">
        <label class=" form-check-inline ">Num of messages:</label>
        <input type="number" name="limit" class="form-check-inline " id="limit"/>


        <label class="form-check-inline" for="sortBy">Sort by: </label>
        <select style="margin:5px;" class="form-check-inline" name="sortBy" id="sortBy">
            <option name="dateTime" value="dateTime">By date</option>
            <option name="author" value="author">By name</option>
        </select>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="order" id="true" value="asc"
                   checked>
            <label class="form-check-label col-form-label-sm" for="true">asc</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="order" id="false" value="desc"
                   checked>
            <label class="form-check-label col-form-label-sm" for="false">desc</label>
        </div>
        <button style="margin:40px;" type="submit" class="btn btn-primary btn-right ">filter</button>
    </form>
</div>

<div class="card-body">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>name</td>
            <td>date</td>
            <td>message</td>

            <td data-sec-authorize="hasRole('ADMIN')">details</td>
        </tr>

        </thead>

        <tr data-th-each="message: ${messageList}">
            <div th:unless="${message.isDeleted}">
                <td data-th-text="${message.name}"></td>
                <td data-th-text="${message.date}"></td>
                <td data-th-text="${message.text}"></td>

                <td>
                    <a th:href="@{/messages/{messageID}(messageID=${message.id})}" th:text="details"></a>
                </td>
                <td>
                    <a th:text="${message.id}"></a>
                    <a th:href="@{/messages/get_message_to_modify/{mID}(mID=${message.id})}"
                       th:text="modifyMessage"></a>
                </td>
            </div>
            <div data-sec-authorize="hasRole('ADMIN')">

                <div th:if="${message.isDeleted}">
                    <td>
                    <td data-th-text="${message.name}"></td>
                    <td data-th-text="${message.date}"></td>
                    <td data-th-text="${message.text}"></td>
                    </td>
                    <td>
                        <form th:action="@{/admin/messages/recoveryMessage/{messageId}(messageId=${message.id})}"
                              method="post">
                            <p>
                                <button type="submit">recovery message</button>
                            </p>
                        </form>
                    </td>
                </div>
                <div th:unless="${message.isDeleted}">
                    <td>
                        <form th:action="@{/admin/messages/deleteMessage/{messageId}(messageId=${message.id})}"
                              method="post">
                            <p>
                                <button type="submit">delete message</button>
                            </p>
                        </form>
                    </td>
                </div>
                </form>
            </div>
        </tr>
    </table>
</div>
</body>
</html>